<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>No programa GAMESTATS, voce podera analisar todos os seus placares, estatisticas, kb, taxa de hs e todos os seus pontos fortes e fracos para construir uma tática melhor para seu jogo, mostrando seus erros e acertos em diversos pontos de varios jogos. </p>
      </div>
      <div class="col-lg-4">
        <p>Alem disso, voce podera assistir ao vivo seus jogadores profissionais preferidos, seu time do coração e todos os placares de rodadas e campeonatos! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> baixar o programa
        </a>
      </div>
    </div>
  </div>
</section>
